RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} !permissions.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)(\/(.+))? index.php?page=$1&param=$3 [L,QSA]

